<!DOCTYPE html>
<html>
<head>
	<title>Flight Search App</title>

<meta charset="utf-8">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="style.css">




</head>
<body>

	<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><i class="material-icons">flight</i>Flight Search</a>
    </div>
  </nav>